[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Guayadeque Music Player
Name[es]=Reproductor de Música Guayadeque
Comment=Play music songs
Comment[es]=Reproduce canciones
Exec=guayadeque
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Player;
MimeType=application/ogg;application/x-flac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;audio/x-ms-wma;
Icon=/usr/share/guayadeque/guayadeque.png
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
