[Desktop Entry]
Version=1.0
Name=Guayadeque Music Player
Comment=Play and organize your music, listen to radios, podcasts and more ...
Exec=guayadeque %U
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Audio;Player;
MimeType=application/ogg;application/x-flac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-asf;audio/x-ms-asx;audio/x-ms-wax;audio/x-ms-wma;
Icon=guayadeque
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
X-Ayatana-Desktop-Shortcuts=PlayPause;Stop;Previous;Next;

Name[en_US]=Guayadeque Music Player

GenericName=

[X-PlayPause Shortcut Group]
Name=Play - Pause
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Play
TargetEnvironment=Unity

[X-Stop Shortcut Group]
Name=Stop (+shift Stop at End)
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Stop
TargetEnvironment=Unity

[X-Previous Shortcut Group]
Name=Prev. (+shift Prev. Album)
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Prev
TargetEnvironment=Unity

[X-Next Shortcut Group]
Name=Next (+shift Next Album)
Exec=dbus-send --type=method_call --dest=org.mpris.guayadeque /Player org.freedesktop.MediaPlayer.Next
TargetEnvironment=Unity
